

<!--
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Copyright by The HDF Group.                                               *
  * All rights reserved.                                                      *
  *                                                                           *
  * This file is part of HDF5.  The full HDF5 copyright notice, including     *
  * terms governing use, modification, and redistribution, is contained in    *
  * the files COPYING and Copyright.html.  COPYING can be found at the root   *
  * of the source code distribution tree; Copyright.html can be found at the  *
  * root level of an installed copy of the electronic HDF5 document set and   *
  * is linked from the top-level documents page.  It can also be found at     *
  * http://www.hdfgroup.org/HDF5/doc/Copyright.html.  If you do not have      *
  * access to either file, you may request a copy from help@hdfgroup.org.     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 -->


<!--__ ***********************************************************  -->
<!--__ Do not alter the next line; it is used by the PDF generator. -->
<!--__ ***********************************************************  -->
<!-- NEW PAGE -->
<!-- HEADER RIGHT "H5Pset_evict_on_close" -->
<hr />
<dl>

<dt><div align="right"><font color="999999" size="-1"><i>
    Last modified:  2016
    </i></font></div></dt>
    <br />

<dt><strong>Name:</strong> 
    <a name="Property-SetEvictOnClose">H5Pset_evict_on_close</a>
    </dt>
    <br />

<dt><strong>Signature:</strong>
   <dd><code>
     <em>herr_t</em> H5Pset_evict_on_close(
       <em>hid_t</em> fapl_id, 
       <em>hbool_t</em> evict_on_close)
        </code>
    </dd></dt>
    <br />

<dt><strong>Purpose:</strong>
    <dd> 
     Controls the library's behavior of evicting metadata associated with a closed object
    </dd></dt>
    <br />

<dt><strong>Description:</strong>
    <dd>
<p>
    The library's metadata cache is fairly conservative about holding on to HDF5 object metadata (object headers, 
    chunk index structures, etc.), which can cause the cache size to grow, resulting in memory 
    pressure on an application or system. When enabled, the &quot;evict on close&quot; property will 
    cause all metadata for an object to be evicted from the cache as long as metadata is 
    not referenced by any other open object.
</p>
<p>
    This function only applies to file access property lists. 
</p>
<p>
    The default library behavior is to not evict on object or file close.
</p>
<p>
    When applied to a file access property list, any subsequently opened object will inherit the 
    &quot;evict on close&quot; property and will have its metadata evicted when the object is closed.
</p>
    </dd></dt>

<!--
<dt><strong>Note:</strong>
    <dd>
    </dd></dt>
    <br />
-->
    
<dt><strong>Parameters:</strong>
    <dd><table width="100%">

        <tr>
            <td valign="top"><code><em>hid_t</em> 
                fapl_id</code></td>
            <td width="5%"><code>&nbsp;</code></td>
            <td valign="top">IN: File access property list</td>
        </tr>

        <tr>
            <td valign="top"><code><em>hbool_t</em> 
                evict_on_close</code></td>
            <td width="5%"><code>&nbsp;</code></td>
            <td valign="top">IN: Whether the HDF5 object should be evicted on close.</td>
        </tr>


        </table></dd>
    </dt>
    
<dt><strong>Returns:</strong>
    <dd>Returns a non-negative value if successful.
        Otherwise returns a negative value.</dd>
    </dt>
    <br />

<dt><strong>Fortran Interface:</strong></dt>
    <dd>None</dd>
    </dt>
    <br />

<!--
<dt><strong>See Also:</strong></dt>
    <table width="100%" border="0">
    <tr><td width="50%"align="left" valign="top">
        <ul>
          <li><a href="RM_H5P.html#Property-GetEvictOnClose">
              <code>H5Pget_mdc_image_config</code></a>
              <br />&nbsp;</li>
        </ul>
    </td></tr>
    </table>
    <br />
-->

<dt><strong>History:</strong></dt>
    <dd>
    <table width="90%">
    <tr>
        <td valign="top" align="left" width="10%">
        <strong>Release</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td valign="top" align="left">
        <strong>Change</strong></td>
    </tr><tr>
        <td valign="top">1.10.1</td>
        <td valign="top">
        C function introduced with this release.</td>
    </tr>
    </table>
    </dd>

</dl>
<br />
<br />
<br />



